
<h2>Purchase Order App</h2>

<p>
The purpose of this app is to allow a user to quickly generate a Purchase Order (PO) and send it to a recipient via an email. 
<p>
<p>
 The app maintains a record of all PO’s generated, under construction, sent and the status of the PO. Giving users a single point of 
 reference for PO's they have raised. 
</p>

<p>
    To use this app, a user needs to Register an account. all that is required for an account is a valid email.
</p>


<h4 style="color:red">Currently this app is demonstration only and not intended for production use.</h4>
<hr />

<p>
    The App has been built using Microsoft ASP.Net Core, a SQL server database to hold the data, User interface a modern browser on any device.
    The technologies\frameworks used to build this app are :-
</p>

<ul>
    <li>
        1.	Microsoft Identity <br />
        Manages the creation and authentication of user accounts<br />
    </li>
    <li>
        2.	Microsoft Entity framework core 2.2.6 <br />
        Manages the data traffic between the web server and the SQL server database<br />
    </li>
    <li>
        3.	SendGrid<br />
        the mail transfer agent handling the outgoing PO’s.<br />
    </li>
  
    <li>
        4.	The following frameworks are used in the User Interface (UI)<br />
        JQuery<br />
        Bootstrap V4.1.3<br />
        Bootstrap-Select V1.13.11<br />
        Popper.js V1.14.3<br />
    </li>
</ul>








