@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <h1 class="display-4">Welcome</h1>

        @*<div>
            <img src="~/Images/P1000146.JPG" style="height:50%; width:100%" />
        </div>*@
        <h3>@ViewData["Env"]</h3>
    </div>
