@model Models.ViewModels.OrganisationViewModel

<h4>Edit Organisation</h4>
<hr />
    
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="Contact" class="control-label">Contact</label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ContactEmail" class="control-label">Email</label>
                <input asp-for="ContactEmail" class="form-control" />
                <span asp-validation-for="ContactEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label">Contact No</label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <label asp-for="Line01" class="control-label">Address</label>
            <input asp-for="Line01" class="form-control" />
            <span asp-validation-for="Line01" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">


            <input asp-for="Line02" class="form-control" />
            <span asp-validation-for="Line02" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <input asp-for="Line03" class="form-control" />
            <span asp-validation-for="Line03" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <input asp-for="Line04" class="form-control" />
            <span asp-validation-for="Line04" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">


            <input asp-for="Line05" class="form-control" />
            <span asp-validation-for="Line05" class="text-danger"></span>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <label asp-for="Code" class="control-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>

        </div>
    </div>
    <input type="hidden" asp-for="Id" />

    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Save" class="btn btn-primary btn-block" />
        </div>
     </div>
</form>

<div>
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
    
</div>

